* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color: #2f3640;
    color: aliceblue;
    padding: 16px 0;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a{
    color: white;
    text-decoration: none;
}

.container{
    width: 1366px;
    margin: 0 auto;
}

.articles{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
/*height: 180px; */
width: 100%;

}
.articles article{
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article{
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    margin-top: 8px;
    
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 32px;
}

section h2{
    font-size: 32px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a {
    background-color:  rgba(0, 255, 0, 0.8);
    color:black
}

#economy{
    background-color: rgb(228, 228, 194);
}

#economy .articles article a{
    background-color: #ff9f1a;
}



#entertainment {
    background-color: rgba(255, 72, 0, 0.521);
}

#entertainment .articles article a {
    background-color:  rgb(0, 110, 255);
    color:black
}

#technology {
    background-color: rgb(194, 196, 228);
}

#technology .articles article a{
    background-color: #ca1affb0;
    color:black;
}